<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-2">
            <br class="form-group">
                Search: <input ng-model="search.attribute">
                <div class="col-md-6 col-md-offset-4">
                    </br>
                    <button type="button" class="btn btn-danger" ng-click="searchGet()">

                        Pesquisar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>popoto.update()</script>
</div>